.sliderLeftArrow--n1-look-book-slider::before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAzMyAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMxLjI1IDE3TDEuNzUgMTdNMS43NSAxN0wxNC4wNDE3IDMyTTEuNzUgMTdMMTQuMDQxNyAyLjAwMDAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    display: block;
}

.sliderLeftArrow--n1-look-book-slider {
    left: 45%;
}

.sliderRightArrow--n1-look-book-slider::before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAzNCAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMTdIMzJNMzIgMTdMMTkuNSAyTTMyIDE3TDE5LjUgMzIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
    display: block;
}

.sliderRightArrow--n1-look-book-slider {
    right: 45%;
}

.sliderLeftArrow--n1-look-book-slider,
.sliderRightArrow--n1-look-book-slider {
    padding: 10px;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}

.sliderArrows--n1-look-book-slider {
    margin: 0px;
    top: -65px;
}

.sliderArrows--n1-look-book-slider .caretIcon--n1-look-book-slider {
    display: none;
}

.sliderTrack--n1-look-book-slider {
    gap: 15px;
}

@media(max-width: 765px){
    .sliderLeftArrow--n1-look-book-slider {
        left: 30%;
    }

    .sliderRightArrow--n1-look-book-slider {
        right: 30%;
    }    
}